/* Write your CSS here */
.item-list-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item-p1 {
  width: 120px;
}
.item-button {
  background-color: transparent;
  border-width: 0px;
}
.item-img {
  width: 25px;
  height: 25px;
  margin-left: 30px;
}
